header {
  padding: 20px;
  font-size: 24px;
  text-align: center;
  color: white;
  background-color: var(--primary-green);
}

footer {
  position: relative;
  left: 0;
  bottom: 0;
  height: 3em;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  font-size: 10pt; 
  color: white;
  background-color: var(--primary-green);
}

nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: block;
  padding: 0 20px;
  z-index: 100;
  text-decoration: none;
  font-size: 16px;
  font-family: 'Libre Baskerville', Georgia, 'Times New Roman', Times, serif;
  color: var(--primary-yellow);
  background-color: var(--primary-red);

  // A hamburger menu to be used for mobile devices
  .hamburger_menu {
    display: inline-block;
    font-size: inherit;
    font-family: inherit;
    color: inherit;
    background-color: inherit;

    .hamburger {
      display: none;
      max-height: 29.2px;
    }

    .hamburger_content {
      font-size: inherit;
      font-family: inherit;
      color: inherit;
      background-color: inherit;
    }
  }

  a, button, .hamburger {
    display: inline-block;
    border: none;
    padding: 5px 10px;
    text-decoration: none;
    font-size: inherit;
    font-family: inherit;
    color: inherit;
    background-color: inherit;
    cursor: pointer;

    &:hover {
      background-color: var(--secondary-red);
    }
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
    background-color: inherit;

    /* Links inside the dropdown */
    a, button {
      display: block;
      text-align: left;
      width: 100%;
    }
  
    /* Dropdown Content (Hidden by Default) */
    .dropdown_content {
      display: none;
      position: absolute;
      background-color: inherit;
      height: 0;
      width: 100%;
      min-width: max-content;
      box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
      z-index: 1;
    }
    
    /* Show the dropdown menu on hover */
    &:hover .dropdown_content {
      display: table;
    }
  }
  
  span {
    padding: 5px;
    font-weight: bold;
    cursor: default;
  }

  #sign_in_out {
    float: right;
    background-color: inherit;

    .dropdown {
      .dropdown_button {
        display: flex;
        flex-direction: row;

        .reader_icon {
          position: relative;
          width: 30px;
          
          svg {
            position: absolute;
            top: -3px;
            left: 0;
          }
        }
      }

      a, button {
        text-align: center;
      }

      .dropdown_content {
        right: 0;
      }
    }
  }  
}

aside {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  width: 500px;
  min-height: 100%;
  max-height: 100vh;
  padding-left: 15px;
  //overflow-x: hidden;
  overflow-x: visible;
  overflow-y: auto;
  //background-color: var(--primary-brown);
  //@include transition(0.5s);
  @include perspective(2000px);
  @include perspective-origin(-100px -100px);

  &.show {
    width: 500px;
    padding-left: 15px;
  }

  &:not(.show) {
    width: 0;
    padding-left: 0;
  }

  #spacer {
    min-height: 50px;
    @include transition(0.5s);
  }
}

.toggle_aside_wrapper {
  display: flex;
  align-items: center;
  position: fixed;
  top: 50%;
  right: 0;
  height: 0;
  width: 20px;
}

#toggle_aside {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  width: 100%;
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  outline: none;
  //color: var(--primary-yellow);
  background-color: var(--primary-red);

  &:hover {
    background-color: lighten(#92140C, 10%);
  }

  * {
    pointer-events: none;
  }
}

@media screen and (max-width: 960px) {
  nav {
    .hamburger_menu {
      .hamburger {
        display: inline-block;
      }

      /* Links inside the dropdown */
      a, button, .dropdown {
        display: block;
        text-align: left;
      }
  
      /* Dropdown Content (Hidden by Default) */
      .hamburger_content {
        display: none;
        position: absolute;
        background-color: inherit;
        height: 0;
        min-width: max-content;
        box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
        z-index: 1;

        .dropdown {
          /* Dropdown Content (Hidden by Default) */
          .dropdown_content {
            display: none;
            position: absolute;
            top: 0;
            left: 100%;
            background-color: inherit;
            height: 0;
            width: 100%;
            min-width: max-content;
            box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
            z-index: 1;
          }
          
          /* Show the dropdown menu on hover */
          &:hover .dropdown_content {
            display: table;
          }
        }
      }
      
      /* Show the dropdown menu on hover */
      &:hover .hamburger_content {
        display: table;
      }
    }
  }

  aside {
    width: 0;
    padding-left: 0;
  }

  #toggle_aside {
    display: none;
  }
}