header {
  padding: 20px;
  font-size: 24px;
  text-align: center;
  color: white;
  background-color: var(--primary-green);
}

footer {
  position: relative;
  left: 0;
  bottom: 0;
  height: 3em;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  font-size: 10pt; 
  color: white;
  background-color: var(--primary-green);
}

aside {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  width: 500px;
  min-height: 100%;
  max-height: 100vh;
  padding-left: 15px;
  overflow-x: hidden;
  overflow-y: auto;
  //background-color: var(--primary-brown);
  //@include transition(0.5s);
  @include perspective(2000px);
  @include perspective-origin(-100px -100px);

  &.show {
    width: 500px;
    padding-left: 15px;
  }

  &:not(.show) {
    width: 0;
    padding-left: 0;
  }

  #spacer {
    min-height: 50px;
    @include transition(0.5s);
  }
}

.toggle_aside_wrapper {
  display: flex;
  align-items: center;
  position: fixed;
  top: 50%;
  right: 0;
  height: 0;
  width: 20px;
}

#toggle_aside {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  width: 100%;
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  outline: none;
  //color: var(--primary-yellow);
  background-color: var(--primary-red);

  &:hover {
    background-color: lighten(#92140C, 10%);
  }

  // Disable click events for the child elements
  * { pointer-events: none; }
  // Change the cursor to indicate that there is an action
  cursor: pointer;
}

@media screen and (max-width: 960px) {
  // Disable the aside for smaller devices
  aside {
    width: 0;
    padding-left: 0;
  }

  #toggle_aside {
    display: none;
  }
}