header {
  padding: 20px;
  font-size: 24px;
  text-align: center;
  color: white;
  background-color: var(--primary-green);
}

footer {
  position: relative;
  left: 0;
  bottom: 0;
  height: 3em;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  font-size: 10pt; 
  color: white;
  background-color: var(--primary-green);
}

nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: block;
  padding: 0 20px;
  z-index: 100;
  background-color: var(--primary-red);
}

nav :where(a, button) {
  display: inline-block;
  border: none;
  margin: 0;
  padding: 5px 10px;
  text-decoration: none;
  font-size: 16px;
  font-family: 'Libre Baskerville', Georgia, 'Times New Roman', Times, serif;
  color: var(--primary-yellow);
  background-color: var(--primary-red);
  cursor: pointer;

  &:hover {
    background-color: var(--secondary-red);
  }
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Links inside the dropdown */
.dropdown a {
  display: block;
  text-align: left;
}

/* Dropdown Content (Hidden by Default) */
.dropdown_content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  height: 0;
  width: 100%;
  min-width: max-content;
  box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown_content {
  display: table;
}

#signin {
  float: right;
}

aside {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  width: 500px;
  min-height: 100%;
  max-height: 100vh;
  padding-left: 15px;
  overflow-x: hidden;
  overflow-y: auto;
  //background-color: var(--primary-brown);
  @include transition(0.5s);
  @include perspective(2000px);
  @include perspective-origin(-100px -100px);
}

#spacer {
  min-height: 50px;
  @include transition(0.5s);
}

@media screen and (max-width: 960px) {
  aside {
    display: none;
    padding-left: 0;
  }
}