// Generic book styling
.book {
  bottom: 0;
  font-size: var(--font-size);
  --blurb-size: 8px;
  --paper-color: #EDE79F;
  --border-color: var(--background-color);
  --blurb-text-transform: none;
  transform-style: preserve-3d;

  // Change the cursor to indicate the books can be dragged and dropped
  cursor: grab;

  // Slide the books to the back of the shelves to start
  @include transform(translateZ(calc(var(--width) - var(--shelf-depth))));
  // Wait for a little bit before sliding the books out over half a second
  @include transition(transform 0.5s 0.1s);
  // Slide the books out from the shelves when hovering over them
  &:hover {
    @include transform(translateZ(calc(1.75 * var(--width) - var(--shelf-depth))));
  }

  &.hide { display: none; }
  &:not(.hide) { display: block; }

  // Make unavailable books look ghostly (greyscale and translucent)
  &.unavailable {
    .spine, .front, .back, .top, .bottom {
      opacity: 0.5;
      filter: grayscale(75%);
    }
  }

  .spine, .front, .back, .top, .bottom, .edge, .page {
    position: absolute;
    transform-style: preserve-3d;
    font-family: inherit;
  }

  .spine {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: inherit;
    border: 1px solid var(--border-color);
    background-color: var(--background-color);
  }

  .front, .back {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--background-color);
  }

  // Styling for the blurb on the back of the book
  .back {
    padding: 5%;
    font-size: var(--blurb-size);
    text-transform: var(--blurb-text-transform);

    p {
      margin-bottom: 10px;
    }
  }

  .top, .bottom {
    outline: 2px solid var(--background-color);
    outline-offset: -2px;
    background-color: var(--paper-color);
  }

  .edge, .page {
    display: none;
    background-color: var(--paper-color);
  }
}

// Books standing upright on the shelf
section .book {
  position: absolute;
  height: var(--height);
  width: var(--depth);

  .spine {
    padding-right: 1px;
    border-top: none;
    border-bottom: none;
    writing-mode: vertical-rl;
    text-orientation: sideways;
  }

  div:where(.front, .back) {
    filter: brightness(80%);
  }

  .front {
    height: var(--height);
    width: var(--width);
    left: 100%;
    @include transform-origin(left);
    @include transform(rotateY(90deg));
  }

  .back {
    height: var(--height);
    width: var(--width);
    right: 100%;
    @include transform-origin(right);
    @include transform(rotateY(-90deg));
  }

  .top {
    height: var(--width);
    width: var(--depth);
    bottom: 100%;
    @include transform-origin(bottom);
    @include transform(rotateX(90deg));
  }

  .bottom {
    height: var(--width);
    width: var(--depth);
    top: 100%;
    @include transform-origin(top);
    @include transform(rotateX(-90deg));
  }
}

// CSS selector to only apply the leaning effect to a book on the shelf
// after an unhidden book, to prevent the book from leaning on thin air
section .book:not(.hide) + .book.leaning:not(.featured) {
  // Rotate around the bottom left corner to make the calculations neater
  @include transform-origin(bottom left);
  // Lean the book at a 15 degree angle with the top left corner just touching the book to the left
  @include transform(translateZ(calc(var(--width) - var(--shelf-depth))) translateX(calc(0.26 * var(--height))) rotateZ(-15deg));

  // Rotate leaning books upright when sliding them out from the shelves
  &:hover {
    @include transform(translateZ(calc(1.75 * var(--width) - var(--shelf-depth))) translateX(calc(0.1 * var(--height))));
  }
}

section .book.featured {
  width: var(--width);
  @include transform-origin(bottom);
  @include transform(translateZ(calc(-0.5 * var(--shelf-depth))) rotateX(15deg));

  &:hover {
    @include transform(unset);
  }

  .front {
    height: var(--height);
    width: var(--width);
    left: 0;
    filter: unset;
    @include transform(translateZ(var(--depth)));
  }

  .spine {
    height: var(--height);
    width: var(--depth);
    right: 100%;
    @include transform-origin(right);
    @include transform(translateZ(var(--depth)) rotateY(-90deg));
    writing-mode: vertical-rl;
    text-orientation: sideways;
    font-size: inherit;
    border-top: none;
    border-bottom: none;
  }

  .edge {
    display: block;
    height: var(--height);
    width: calc(1.1 * var(--depth));
    top: 0;
    left: 100%;
    @include transform-origin(left);
    @include transform(translateZ(calc(1.2 * var(--depth))) rotateY(90deg));
    background-color: var(--paper-color);
    border-top: 1px solid black;
    filter: grayscale(25%);
  }

  .back {
    display: none;
    height: var(--height);
    width: var(--width);
    left: 0;
    font-size: var(--blurb-size);
    @include transform(unset);
    filter: unset;
  }

  .top {
    height: var(--depth);
    width: var(--width);
    bottom: 100%;
    outline: none;
    @include transform-origin(bottom);
    @include transform(translateZ(var(--depth)) rotateX(90deg));
  }

  .bottom {
    height: var(--depth);
    width: var(--width);
    top: 100%;
    @include transform-origin(top);
    @include transform(translateZ(var(--depth)) rotateX(-90deg));
  }
}

// Books stacked one on top of each other
aside .book {
  position: relative;
  height: var(--depth);
  width: var(--height);

  // Slide the books to the back of the shelves to start
  @include transform(translateZ(calc(0.25 * var(--width) - 150px)));
  // Slide the books out from the shelves when hovering over them
  &:hover {
    @include transform(translateZ(calc(var(--width) - 150px)));
  }

  .spine {
    height: var(--height);
    width: var(--depth);
    padding-right: 1px;
    border-top: none;
    border-bottom: none;
    writing-mode: vertical-rl;
    text-orientation: sideways;
    @include transform-origin(top left);
    @include transform(rotateZ(-90deg) translateX(calc(var(--depth) * -1)));
  }

  .front {
    height: var(--height);
    width: var(--width);
    @include transform-origin(top left);
    @include transform(rotateX(90deg) rotateZ(-90deg));
  }
  
  .back {
    height: var(--height);
    width: var(--width);
    top: 100%;
    @include transform-origin(top left);
    @include transform(scale(-1) rotateX(90deg) rotateZ(90deg) translateX(calc(var(--width) * -1)));
  }

  .top {
    height: var(--depth);
    width: var(--width);
    right: 100%;
    @include transform-origin(right);
    @include transform(rotateY(-90deg));
  }

  .bottom {
    height: var(--depth);
    width: var(--width);
    left: 100%;
    @include transform-origin(left);
    @include transform(rotateY(90deg));
  }
}