@import './mixins';
@import './forms';
@import '../components/Fragments/fragments';
@import '../components/Fragments/navbar';
@import '../components/Books/books';
@import '../components/Books/preview';
@import '../components/Shelves/shelves';
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville');

:root {
  /* Define custom colours */
  --primary-red: #92140C;
  --secondary-red: #711009;
  --primary-green: #373D20;
  --primary-yellow: #FFBA08;
  --primary-brown: #522A00;
  --secondary-brown: #3D2000;
  --middle-brown: #472500;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--primary-green);
  font-family: 'Libre Baskerville', Georgia, 'Times New Roman', Times, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#body {
  display: flex;
  min-height: calc(100vh - 172px);
  height: max-content;
  width: 100%;
  background-color: var(--primary-brown);
  overflow-x: clip;
}

main {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  min-height: 100%;
  width: calc(100vw - 500px);
  margin: 30px;
  margin-bottom: 0;
}

@media screen and (max-width: 960px) {
  main {
    min-width: calc(100vw - 70px);
    max-width: calc(100vw - 70px);
  }
}
